<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KL UNIVERSITY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">Home</a></li>
      <li><a href="#">Department</a></li>
    </ul>
    <ul class="nav navbar-nav">
    <li><a routerLink="Login">Login</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="data">Databind</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>